<form
  #form="ngForm"
  (submit)="submit()"
  class="form"
  [ngClass]="{ loading: loading }"
>
  <div class="form-row order">
    <h3 class="form-row__title">Ordenar por</h3>
    <div class="form-row__buttons">
      <div class="form-control">
        <div class="form-control__wrap">
          <label for="orderTitle" class="form-control__toggle">
            <span>Nome do álbum</span>
            <i
              class="fas"
              [ngClass]="filters.orderTitle ? 'fa-arrow-up' : 'fa-arrow-down'"
            ></i>
          </label>
          <input
            #released="ngModel"
            [(ngModel)]="filters.orderTitle"
            type="checkbox"
            name="orderTitle"
            id="orderTitle"
            (change)="submit()"
          />
        </div>
      </div>
      <div class="form-control">
        <div class="form-control__wrap">
          <label for="orderReleased" class="form-control__toggle">
            <span>Ano de lançamento</span>
            <i
              class="fas"
              [ngClass]="
                filters.orderReleased ? 'fa-arrow-up' : 'fa-arrow-down'
              "
            ></i>
          </label>
          <input
            #released="ngModel"
            [(ngModel)]="filters.orderReleased"
            type="checkbox"
            name="orderReleased"
            id="orderReleased"
            (change)="submit()"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <h3 class="form-row__title">Filtrar por</h3>

    <div class="form-control">
      <div class="form-control__wrap">
        <ng-select
          class="form-control__select"
          [items]="optionsCountries"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="filters.orderCountries"
          [multiple]="true"
          name="countries"
          placeholder="Filtrar por país"
          notFoundText="Nenhum país encontrado"
          [virtualScroll]="true"
          (change)="submit()"
        ></ng-select>
      </div>
    </div>
  </div>
</form>
