<form class="form">
  <div class="form-row order">
    <h3 class="form-row__title">Ordenar por</h3>
    <div class="form-row__buttons">
      <div class="form-control">
        <button
          class="form-control__button"
          (click)="orderTitle = orderTitle === 'desc' ? 'asc' : 'desc'"
        >
          <span>Nome do álbum</span>
          <i
            class="fas"
            [ngClass]="orderTitle === 'desc' ? 'fa-arrow-up' : 'fa-arrow-down'"
          ></i>
        </button>
      </div>
      <div class="form-control">
        <button
          class="form-control__button"
          (click)="orderReleased = orderReleased === 'desc' ? 'asc' : 'desc'"
        >
          <span>Ano de lançamento</span>
          <i
            class="fas"
            [ngClass]="
              orderReleased === 'desc' ? 'fa-arrow-up' : 'fa-arrow-down'
            "
          ></i>
        </button>
      </div>
    </div>
  </div>

  <div class="form-row">
    <h3 class="form-row__title">Filtrar por</h3>

    <div class="form-control">
      <div class="form-control__wrap">
        <ng-select
          class="form-control__select"
          [items]="optionsCountries"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="orderCountries"
          [multiple]="true"
          name="countries"
          placeholder="Filtrar por país"
          notFoundText="Nenhum país encontrado"
          [virtualScroll]="true"
          [closeOnSelect]="false"
        ></ng-select>
      </div>
    </div>
  </div>
</form>
