<section>
  <app-placeholder-list-albums
    *ngIf="firstLoading"
  ></app-placeholder-list-albums>

  <app-list-albums *ngIf="list.items.length && !list.loading">
    <li *ngFor="let item of list.items" albumItem>
      <app-card-list-albums [routerLink]="'/album/' + item.node.slug">
        <picture>
          <source [srcset]="item.node.featuredImage.node.sourceUrl + '.webp'" type="image/webp" />
          <img
            class="list-posts__card__image"
            [src]="item.node.featuredImage.node.sourceUrl"
            [alt]="'Capa do álbum ' + item.node.title + ' de ' + item.node.acf.artist"
            width="160"
            height="160"
            loading="lazy"
          />
        </picture>
      </app-card-list-albums>
    </li>
    <li class="length" albumItem>
      <div class="length__wrapper">
        <strong>+{{ total - 95 }}</strong>
        <span>álbuns</span>
      </div>
    </li>
  </app-list-albums>
</section>
