<article>
  <app-page-header>
    <span title>{{ data?.albums?.data[0]?.attributes?.title }}</span>
  </app-page-header>

  <app-album-cover
    [image]="
      'http://localhost:1337' +
      data?.albums?.data[0].attributes.cover?.data?.attributes?.url
    "
  ></app-album-cover>

  <app-album-infos>
    <span title>{{ data?.albums?.data[0].attributes?.title }}</span>
    <span subtitle>{{ data?.albums?.data[0].attributes?.artist }}</span>
    <span released>{{
      data?.albums?.data[0].attributes?.released | date: "Y"
    }}</span>
    <span country>{{
      data?.albums?.data[0].attributes?.country.data.attributes.title
    }}</span>
    <span genre>{{
      data?.albums.data[0].attributes?.genres?.data[0]?.attributes?.title
    }}</span>
  </app-album-infos>

  <app-album-tracklist>
    <li track *ngFor="let track of data?.albums.data[0].attributes?.tracklist">
      <span>{{ track.title }}</span>
      <span>{{ track.duration }}</span>
    </li>
  </app-album-tracklist>
</article>
