<main class="main">
  <app-sidebar></app-sidebar>

  <section>
    <div class="main-bg"></div>
    <article itemscope itemtype="https://schema.org/MusicAlbum">
      <app-loading-card-post-album *ngIf="this.loading">
      </app-loading-card-post-album>

      <app-card-post-album *ngIf="!this.loading">
        <picture albumImage>
          <source [srcset]="item.images?.full" type="image/webp" />
          <source [srcset]="item.images?.full" type="image/jpeg" />
          <img
            itemprop="image"
            loading="lazy"
            [src]="item.images?.full"
            alt="Capa do álbum  da banda "
            loading="lazy"
          />
        </picture>

        <span albumTitle [innerHtml]="item.title?.rendered"></span>
        <span albumArtist [innerHtml]="item.acf?.artist"></span>
        <span
          albumReleased
          [innerHtml]="item.acf?.released | date: 'yyyy'"
        ></span>

        <li albumGenreItem *ngFor="let genre of item.genres">
          <a [routerLink]="'/genero/' + genre.slug">
            <span itemprop="genre">{{ genre.name }}</span>
          </a>
        </li>

        <app-list-links [item]="item" albumListLinks></app-list-links>

        <meta
          albumCopyrightHolder
          itemprop="copyrightHolder"
          [content]="item.acf?.label"
        />
        <meta albumDescription itemprop="description" content="" />
        <app-list-links [item]="item"></app-list-links>
        <button
          albumButtonShare
          (click)="share()"
          class="post-footer__share"
          aria-title="Abrir modal de share"
        >
          <i class="fas fa-share-alt" aria-hidden="true"></i>
        </button>
      </app-card-post-album>

      <div class="post-content">
        <ng-container *ngIf="item.content?.rendered">
          <h3>Um pouco mais sobre {{ item.acf?.artist }}</h3>
          <div [innerHtml]="item.content?.rendered"></div>
        </ng-container>

        <div class="post-tracklist" *ngIf="item.acf?.tracklist?.length">
          <h3>Lista de faixas</h3>
          <table>
            <tr
              *ngFor="let track of item.acf?.tracklist"
              itemprop="track"
              itemscope
              itemtype="https://schema.org/MusicRecording"
            >
              <td itemprop="name" [innerHtml]="track.title"></td>
              <td [innerHtml]="track.duration"></td>
            </tr>
          </table>
        </div>

        <!-- <disqus class="post-comments" [identifier]="pageId"></disqus> -->
      </div>
    </article>

    <app-footer-default></app-footer-default>
  </section>
</main>
