<div class="header">
  <div class="header__wrapper">
    <a
      [routerLink]="'/'"
      aria-label="Voltar para a home"
      title="Voltar para a home"
      class="header__close"
    >
      <i class="fas fa-times" aria-hidden="true"></i>
    </a>
  </div>
</div>

<main class="main">
  <app-sidebar></app-sidebar>

  <section>
    <div class="main-bg"></div>
    <article itemscope itemtype="https://schema.org/MusicAlbum">
      <app-loading-card-post-album *ngIf="this.loading">
      </app-loading-card-post-album>

      <app-card-post-album *ngIf="!this.loading">
        <picture albumImage>
          <source [srcset]="item.featuredImage.node.sourceUrl + '.webp'" type="image/webp" />
          <source [srcset]="item.featuredImage.node.sourceUrl" type="image/jpeg" />
          <img
            itemprop="image"
            loading="lazy"
            [src]="item.featuredImage.node.sourceUrl"
            [alt]="'Capa do álbum ' + item.title + ' de ' + item.acf.artist"
            loading="lazy"
          />
        </picture>

        <span albumTitle [innerHtml]="item.title"></span>
        <span albumArtist [innerHtml]="item.acf?.artist"></span>
        <span
          albumReleased
          [innerHtml]="item.acf?.released | date: 'yyyy'"
        ></span>

        <li albumGenreItem *ngFor="let genre of item.terms.edges">
          <a [routerLink]="'/genero/' + genre.node.slug">
            <span itemprop="genre">{{ genre.node.name }}</span>
          </a>
        </li>

        <app-list-links [item]="item" albumListLinks></app-list-links>

        <meta
          albumCopyrightHolder
          itemprop="copyrightHolder"
          [content]="item.acf?.label"
        />
        <meta albumDescription itemprop="description" content="" />
        <app-list-links [item]="item"></app-list-links>
        <button
          albumButtonShare
          (click)="share()"
          class="post-footer__share"
          aria-title="Abrir modal de share"
        >
          <i class="fas fa-share-alt" aria-hidden="true"></i>
        </button>
      </app-card-post-album>

      <div
        class="post-content"
        *ngIf="
          (item?.content && item?.content.length > 50) ||
          item?.acf?.tracklist?.length
        "
      >
        <ng-container>
          <h3>Um pouco mais sobre {{ item.acf?.artist }}</h3>
          <div [innerHtml]="item.content"></div>
        </ng-container>

        <div class="post-tracklist" *ngIf="item.acf?.tracklist?.length">
          <h3>Lista de faixas</h3>
          <table>
            <tr
              *ngFor="let track of item.acf?.tracklist"
              itemprop="track"
              itemscope
              itemtype="https://schema.org/MusicRecording"
            >
              <td itemprop="name" [innerHtml]="track.title"></td>
              <td [innerHtml]="track.duration"></td>
            </tr>
          </table>
        </div>
      </div>
    </article>

    <app-footer-default
      *ngIf="
        (item?.content && item?.content.length > 50) ||
        item?.acf?.tracklist?.length
      "
    ></app-footer-default>
  </section>
</main>

<a
  routerLink="/random"
  title="Modo randômico"
  aria-title="Modo randômico"
  class="wrapper__button"
>
  <i class="fas fa-random" aria-hidden="true"></i>
</a>
