@import "src/scss/base/imports";
.main {
  display: flex;
}

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: rem(974px);
  background-image: url("/assets/img/bg.png");
  background-attachment: fixed;
  opacity: 0.5;
  filter: blur(5px);
}

section {
  width: 100%;
}

app-footer-default {
  display: block;
  background-color: $color-primary-shade;
}
