<app-page-header>
  <span title>Gênero</span>
</app-page-header>

<main>
  <app-list-albums
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
    [firstLoading]="firstLoading"
    [loading]="loading"
  >
    <li *ngFor="let album of data">
      <app-card-album
        [routerLink]="['/album/', album.attributes.slug]"
        [item]="album"
        [title]="
          album.attributes.title == album.attributes.artist
            ? album.attributes.title
            : album.attributes.title + ' | ' + album.attributes.artist
        "
      ></app-card-album>
    </li>
  </app-list-albums>
</main>
