<main class="main default">
  <app-sidebar></app-sidebar>

  <div class="wrapper">
    <app-full-banner>
      <picture *ngIf="item?.images?.banner">
        <source [srcset]="item.images.banner?.webp" type="image/webp" />
        <source [srcset]="item.images.banner?.normal" type="image/jpeg" />
        <img [src]="item.images.banner.normal" [alt]="item.title" />
      </picture>

      <span title>{{ item.name }}</span>
      <span subtitle
        >Mostrando <strong>{{ total }}</strong>
        {{ total > 1 ? "álbuns" : "álbum" }}
      </span>

      <app-button filterToggle (click)="showFilters = !showFilters">
        <i class="fas fa-filter" icon></i>
        <span title>Filtros</span>
      </app-button>
    </app-full-banner>

    <app-genre-filter
      *ngIf="showFilters"
      [optionsCountries]="countries"
      [loading]="list.loading"
      (submitted)="doFilter($event)"
    ></app-genre-filter>

    <section>
      <app-placeholder-list-albums
        *ngIf="list.loading"
      ></app-placeholder-list-albums>

      <app-list-albums *ngIf="list.items.length && !list.loading">
        <li *ngFor="let item of list.items" albumItem>
          <app-card-list-albums [routerLink]="'/album/' + item.slug">
            <picture>
              <source
                [srcset]="item.images?.thumbnail_webp"
                type="image/webp"
              />
              <source [srcset]="item.images?.thumbnail" type="image/jpeg" />
              <img
                class="list-posts__card__image"
                [src]="item.images.thumbnail"
                alt=""
                width="160"
                height="160"
                loading="lazy"
              />
            </picture>
          </app-card-list-albums>
        </li>
      </app-list-albums>
    </section>
  </div>
</main>

<a
  routerLink="/random"
  title="Modo randômico"
  aria-title="Modo randômico"
  class="wrapper__button"
>
  <i class="fas fa-random" aria-hidden="true"></i>
</a>
