@import "src/scss/base/imports";

@keyframes loading {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.placeholder-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.placeholder-card {
  position: relative;
  width: 100%;
  animation: loading infinite alternate 1s;
  background-color: $color-primary-shade;

  &:before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-shade
    );
    margin: auto;
    animation: rotate infinite 2s linear;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    display: block;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    background-color: $color-primary-shade;
    margin: auto;
  }

  @media (min-width: $mobile) {
    width: 50%; // 2
  }

  @media (min-width: $tablet) {
    width: 25%; // 4
  }

  @media (min-width: $desktop) {
    width: 16.666666667%; // 6
  }

  @media (min-width: $desktop-hd) {
    width: 12.5%; // 8
  }

  @media (min-width: $desktop-wide) {
    width: 8.333%; // 12
  }
}

.placeholder-image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
