[data-theme="light"] {
  --color-primary: #bc9d75;
  --color-primary-shade: #a58a67;
  --color-primary-tint: #c3a783;
  --color-secondary: #922909;
  --color-tertiary: #402e32;
  --color-light: #fff;
}

[data-theme="dark"] {
  --color-primary: #292556;
  --color-primary-shade: #24214c;
  --color-primary-tint: #3e3b67;
  --color-secondary: #00c5df;
  --color-tertiary: #e8d5b5;
  --color-light: #fff;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  font-size: rem($font-size);
  font-weight: 400;
  line-height: normal;
  background-color: var(--color-primary);
  color: var(--color-light);
  transition: 0.2s background-color ease;
}
