:root {
  --color-primary: #bc9d75;
  --color-primary-shade: #a58a67;
  --color-primary-tint: #c3a783;
  --color-secondary: #eb8a65;
  --color-secondary-shade: #cf7959;
  --color-secondary-tint: #ed9674;
  --color-tertiary: #657c74;
  --color-tertiary-shade: #596d66;
  --color-tertiary-tint: #748982;
  --color-medium: #3c3b65;
  --color-medium-shade: #353459;
  --color-medium-tint: #504f74;
  --color-dark: #292556;
  --color-dark-shade: #24214c;
  --color-dark-tint: #3e3b67;
  --color-light: #fff;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  font-size: rem($font-size);
  line-height: normal;
  background-color: var(--color-dark);
  color: var(--color-light);
}
