<div class="sidebar-modal__list" data-menu="albums">
  <h3 class="sidebar-modal__list__title">{{ data.title }}</h3>

  <ol>
    <li *ngFor="let item of data.list">
      <h4 class="sidebar-modal__list__subtitle" id="-ref">{{ item.title }}</h4>
      <ul>
        <li *ngFor="let album of item.albums">
          <a [routerLink]="album.slug">
            <strong>{{ album.title.rendered }}</strong>
            <span>{{ album.acf.artist }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ol>
</div>
