<div class="post-album">
  <figure class="post-album__cover">
    <ng-content select="[albumImage]"></ng-content>
  </figure>

  <div class="post-album__content">
    <app-list-breadcrumb></app-list-breadcrumb>

    <header class="post-album__content__header">
      <hgroup>
        <h1 class="post-album__content__title" itemprop="name">
          <ng-content select="[albumTitle]"></ng-content>
        </h1>
        <h2
          class="post-album__content__artist"
          itemprop="byArtist"
          itemscope
          itemtype="https://schema.org/MusicGroup"
        >
          <ng-content select="[albumArtist]"></ng-content>
        </h2>
      </hgroup>
      <strong class="post-album__content__year" itemprop="copyrightYear">
        <ng-content select="[albumReleased]"></ng-content>
      </strong>
      <ul class="post-album__content__genres">
        <ng-content select="[albumGenreItem]"></ng-content>
      </ul>
      <ng-content select="[albumCopyrightHolder]"></ng-content>
      <ng-content select="[albumDescription]"></ng-content>
    </header>

    <ng-content select="[albumListLinks]"></ng-content>

    <footer class="post-footer">
      <ng-content select="[albumButtonShare]"></ng-content>
    </footer>
  </div>
</div>
