<div class="sidebar-modal__list" data-menu="albums">
  <form class="form" autocomplete="off" novalidate>
    <div class="form-control">
      <input
        #searchInput
        [value]="term"
        id="search"
        [ngClass]="{ 'has-value': term }"
        type="text"
        name="search"
        [formControl]="searchControl"
      />
      <label for="search">Faça sua busca</label>
    </div>
  </form>

  <ul>
    <li *ngFor="let item of list.items">
      <a [routerLink]="'/album/' + item.slug">
        <strong [innerHtml]="item.title.rendered"></strong>
        <span [innerHtml]="item.acf.artist"></span>
      </a>
    </li>
  </ul>
</div>
