<div class="sidebar-modal__list" data-menu="albums">
  <form class="form">
    <div class="form-control">
      <input id="search" type="text" />
      <label for="search">Faça sua busca</label>
    </div>
  </form>

  <ol>
    <!-- <li *ngFor="let item of data.list">
      <h4 class="sidebar-modal__list__subtitle" id="-ref">{{ item.title }}</h4>
      <ul>
        <li *ngFor="let album of item.albums">
          <a [routerLink]="'/album/' + album.slug">
            <strong [innerHtml]="album.title.rendered"></strong>
            <span [innerHtml]="album.acf.artist"></span>
          </a>
        </li>
      </ul>
    </li> -->
  </ol>
</div>
