.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s background-color ease, 0.2s box-shadow ease;

  &:hover {
    text-decoration: underline;
  }

  &-title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }
}
