<div class="placeholder post-album">
  <div class="placeholder-image">
    <img src="/assets/img/logo.png" class="placeholder-image" />
  </div>
  <div class="placeholder-content">
    <div class="placeholder-content__subtitle"></div>
    <div class="placeholder-content__title"></div>
    <div class="placeholder-content__tagline"></div>
    <div class="placeholder-content__tags">
      <span *ngFor="let item of [1, 2, 3]"></span>
    </div>
    <div class="placeholder-content__links">
      <span *ngFor="let item of [1, 2, 3, 4]"></span>
    </div>
    <div class="placeholder-content__button"></div>
  </div>
</div>
