<div class="m-tabs-menu">
  <ul class="m-tabs-menu__list">
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showAlbums }"
        (click)="
          showAlbums = !showAlbums;
          showGenres = false;
          showCountries = false;
          showDebut = false
        "
      >
        <span>Álbuns</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>

      <ul
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScrollAlbums()"
        [hidden]="!showAlbums"
        class="m-tabs-menu__submenu"
      >
        <li *ngFor="let item of data.albums.list">
          <app-card-menu-album
            [routerLink]="['/album', item.attributes.slug]"
            [item]="item"
          ></app-card-menu-album>
        </li>
      </ul>
    </li>
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showGenres }"
        (click)="
          showGenres = !showGenres;
          showAlbums = false;
          showCountries = false;
          showDebut = false
        "
      >
        <span>Gêneros</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>
      <ul
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScrollGenres()"
        [hidden]="!showGenres"
        class="m-tabs-menu__submenu"
      >
        <li *ngFor="let item of data.genres.list">
          <app-card-menu
            [routerLink]="['/genero', item.attributes.slug]"
            [item]="item"
          >
          </app-card-menu>
        </li>
      </ul>
    </li>
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showCountries }"
        (click)="
          showCountries = !showCountries;
          showAlbums = false;
          showGenres = false;
          showDebut = false
        "
      >
        <span>Países</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>
      <ul
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScrollCountries()"
        [hidden]="!showCountries"
        class="m-tabs-menu__submenu"
      >
        <li *ngFor="let item of data?.countries?.list">
          <span [routerLink]="['/pais', item.attributes.slug]">
            {{ item.attributes.title }}
          </span>
        </li>
      </ul>
    </li>
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showDebut }"
        (click)="
          showDebut = !showDebut;
          showAlbums = false;
          showGenres = false;
          showCountries = false
        "
      >
        <span>Ano de lançamento</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>
      <ul [hidden]="!showDebut" class="m-tabs-menu__submenu">
        <li *ngFor="let item of data?.years?.list"></li>
      </ul>
    </li>
  </ul>

  <app-tabs-menu-footer></app-tabs-menu-footer>
  <app-tabs-menu-social></app-tabs-menu-social>
</div>
