<div class="m-tabs-menu">
  <ul class="m-tabs-menu__list">
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showAlbums }"
        (click)="
          showAlbums = !showAlbums;
          showGenres = false;
          showCountries = false;
          showDebut = false
        "
      >
        <span>Álbuns</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>

      <ul
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScrollAlbums()"
        [hidden]="!showAlbums"
        class="m-tabs-menu__submenu"
      >
        <li *ngFor="let item of data.albums.list">
          <app-card-menu-album
            [routerLink]="['/album', item.attributes.slug]"
            [item]="item"
          ></app-card-menu-album>
        </li>
      </ul>
    </li>
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showGenres }"
        (click)="
          showGenres = !showGenres;
          showAlbums = false;
          showCountries = false;
          showDebut = false
        "
      >
        <span>Gêneros</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>
      <ul
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScrollGenres()"
        [hidden]="!showGenres"
        class="m-tabs-menu__submenu"
      >
        <li *ngFor="let item of data.genres.list">
          <app-card-menu
            [routerLink]="['/genero', item.attributes.slug]"
            [item]="item"
          >
          </app-card-menu>
        </li>
      </ul>
    </li>
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showCountries }"
        (click)="
          showCountries = !showCountries;
          showAlbums = false;
          showGenres = false;
          showDebut = false
        "
      >
        <span>Países</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>
      <ul [hidden]="!showCountries" class="m-tabs-menu__submenu">
        <li *ngFor="let item of data?.countries?.list"></li>
      </ul>
    </li>
    <li>
      <button
        class="m-tabs-menu__title"
        [ngClass]="{ '-active': showDebut }"
        (click)="
          showDebut = !showDebut;
          showAlbums = false;
          showGenres = false;
          showCountries = false
        "
      >
        <span>Ano de lançamento</span>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </button>
      <ul [hidden]="!showDebut" class="m-tabs-menu__submenu">
        <li *ngFor="let item of data?.years?.list"></li>
      </ul>
    </li>
  </ul>

  <div class="m-tabs-menu__copy">
    <strong>Bandas 1 Álbum © 2022</strong>

    <ul>
      <li>
        <a href="#">Termos</a>
      </li>
      <li>
        <a href="#">Privacidade</a>
      </li>
    </ul>
  </div>

  <ul class="m-tabs-menu__social">
    <li>
      <a
        href="https://instagram.com/bandas1album"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </li>
    <li>
      <a
        href="https://open.spotify.com/user/ryyq8vjpuf4vgfgll9zoecplr?si=09LFT22HQaaRIgfIkIatEw"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ion-icon name="play-circle-outline"></ion-icon>
      </a>
    </li>

    <li>
      <a
        href="http://twitter.com/bandas1album"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/channel/UCBFLR6baFsadrq2MswNT5KQ"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
    </li>
    <li>
      <a
        href="http://bandas1album.com.br/feed.xml"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ion-icon name="logo-rss"></ion-icon>
      </a>
    </li>
  </ul>
</div>
