.form {
  display: flex;
  flex-direction: column;
  padding: rem(24px) rem(32px);

  @media (min-width: $tablet) {
    flex-direction: row;
    padding: rem(32px) rem(40px);
  }

  @media (min-width: $desktop) {
    padding: rem(40px) rem(48px);
  }

  &.loading {
    pointer-events: none;
    opacity: 0.5;
  }

  &-row {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $desktop) {
      width: calc(50% - 12px);
    }

    &:not(:last-child) {
      padding-bottom: rem(24px);
      margin-bottom: rem(24px);
      border-bottom: rem(1px) solid rgba($white, 0.2);

      @media (min-width: $tablet) {
        margin-bottom: 0;
        margin-right: rem(24px);
        padding-bottom: 0;
        padding-right: rem(24px);
        border-bottom: 0;
        border-right: rem(1px) solid rgba($white, 0.2);
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;

      @media (min-width: $desktop) {
        flex-direction: row;
      }
    }

    &__title {
      margin: 0;
      margin-bottom: rem(8px);
      font-size: rem(14px);

      @media (min-width: $desktop) {
        font-size: rem(18px);
        margin-bottom: rem(12px);
      }
    }
  }

  &-control {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: rem(8px);

      @media (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: rem(16px);
      }
    }

    &__title {
      display: block;
      margin-bottom: rem(4px);
      font-weight: 600;

      @media (min-width: $tablet) {
        font-size: rem(18px);
        margin-bottom: rem(8px);
      }
    }

    &__toggle {
      @extend .reset-button;
      display: flex;
      align-items: center;
      width: 100%;
      color: $white;
      padding: rem(12px) rem(16px);
      border-radius: rem(8px);
      font-weight: 600;
      text-align: left;
      background-color: rgba($white, 0.1);
      transition: 0.2s all ease;
      font-size: rem(16px);

      @media (min-width: $tablet) {
        padding: rem(16px) rem(20px);
        font-size: rem(18px);
      }

      &:hover {
        background-color: rgba($white, 0.2);
      }

      i {
        margin-left: auto;
      }

      &:not(:last-child) {
        margin-bottom: rem(4px);
      }

      + input {
        display: none;
      }
    }

    &__select {
      &.ng-select-opened {
        .ng-select-container {
          background-color: transparent;
          border-color: rgba($white, 0.2);
          border-radius: rem(8px) rem(8px) 0 0;

          &:hover {
            background-color: transparent;
          }
        }
      }

      &.ng-select-multiple {
        &.ng-select-filtered {
          .ng-value {
            opacity: 0.2;
            filter: grayscale(1);
          }
        }

        .ng-has-value {
          .ng-value-container {
            margin: rem(-4px);
          }

          .ng-input {
            margin: rem(6px) 0;
          }

          .ng-input input {
            padding-left: rem(6px) !important;
          }
        }

        .ng-select-container:not(.ng-has-value) {
          .ng-input input {
            padding-left: 0 !important;
          }
        }

        .ng-value {
          display: flex;
          align-items: center;
          margin: rem(4px);
          transition: 0.2s all ease;

          &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(16px);
            height: rem(16px);
            background-color: $color-primary-shade;
            border-radius: rem(4px) 0 0 rem(4px);
            transition: 0.2s all ease;

            @media (min-width: $tablet) {
              width: rem(24px);
              height: rem(24px);
            }

            &:hover {
              background-color: darken($color-primary-shade, 5%);
            }
          }

          &-label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(16px);
            padding: 0 8px;
            background-color: $color-primary;
            border-radius: 0 rem(4px) rem(4px) 0;

            @media (min-width: $tablet) {
              height: rem(24px);
            }
          }
        }
      }

      .ng-select-container {
        border: rem(2px) solid;
        border-color: transparent;
        background-color: rgba($white, 0.1);
        padding: rem(12px) rem(16px);
        border-radius: rem(8px);
        transition: 0.2s all ease;

        @media (min-width: $tablet) {
          padding: rem(16px);
        }

        &:hover {
          background-color: rgba($white, 0.2);
        }

        &.ng-has-value {
          .ng-placeholder {
            display: none;
          }
        }
      }

      .ng-placeholder,
      .ng-value,
      .ng-input input {
        font-weight: 600;
        color: $white;

        @media (min-width: $tablet) {
          font-size: rem(18px);
        }
      }

      .ng-input {
        pointer-events: none;

        input {
          padding-left: rem(16px) !important;
        }
      }

      .ng-dropdown-panel {
        background-color: rgba($color-primary-shade, 0.6);
        backdrop-filter: blur(4px);
        border-radius: 0 0 rem(8px) rem(8px);
        border: rem(2px) solid rgba($white, 0.2);
        transform: translateY(-2px);
      }

      .ng-clear-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(24px) !important;
        height: rem(24px);
        border-radius: 50%;
        background-color: $color-primary-shade;
        transition: 0.2s all ease;

        &:hover {
          background-color: darken($color-primary-shade, 5%);
        }
      }

      .ng-option {
        padding: rem(4px) rem(16px);
        font-size: rem(16px);
        font-weight: 600;

        @media (min-width: $desktop) {
          padding: rem(8px) rem(16px);
          font-size: rem(18px);
        }

        &.ng-option-selected,
        &:hover {
          background-color: rgba($white, 0.2);
        }
      }
    }
  }
}
