@keyframes slideY {
  100% {
    transform: translateX(64px);
  }
}

app-sidebar {
  position: relative;
  z-index: $zindex-sidebar;
}

.sidebar-modal {
  transform: translateX(-100%);
  animation: slideY 0.1s forwards;
  animation-delay: 0.1s;
  width: 100%;
  max-width: rem(306px) !important;
  height: 100%;
  background-color: $color-primary-shade;

  mat-dialog-container {
    background-color: unset;
  }

  mat-dialog-content {
    flex: 1;
    max-height: 100%;
  }

  .mat-dialog-container {
    padding: 0;
    overflow-x: hidden;
    border-radius: 0;
  }

  .sidebar-modal__list {
    display: block !important;
  }
}
