@import "./search";
@import "./list";

app-sidebar {
  position: relative;
  z-index: $zindex-sidebar;
}

.sidebar-modal {
  width: 100%;
  max-width: rem(306px) !important;

  mat-dialog-container {
    background-color: unset;
  }

  mat-dialog-content {
    flex: 1;
    max-height: 100%;
  }

  .mat-dialog-container {
    padding: 0;
    overflow-x: hidden;
    border-radius: 0;
  }

  .sidebar-modal__list {
    display: block !important;
  }
}
