.modal-share {
  justify-content: center;
  width: 100%;

  .mat-dialog-container {
    box-shadow: none;
    background: $color-primary;
    color: $white;
    width: 100%;
    padding: rem(32px) rem(24px);
    border-radius: rem(16px) rem(16px) 0 0;
    transform: translateY(100%);

    @media (min-width: $tablet) {
      max-width: 640px;
      border-radius: rem(16px);
      transform: translateY(0);
    }
  }
}
