<div class="m-tabs" [ngClass]="{ '-open': showSearch || showMenu }">
  <app-tabs-search [hidden]="!showSearch"></app-tabs-search>
  <app-tabs-menu [hidden]="!showMenu"></app-tabs-menu>

  <div class="m-tabs-wrapper">
    <button
      class="m-tabs__button"
      [ngClass]="{ '-active': showSearch }"
      type="button"
      aria-label="Abrir barra de busca"
      (click)="showSearch = !showSearch; showMenu = false"
    >
      <ion-icon name="search"></ion-icon>
    </button>

    <div class="m-tabs__logo">
      <app-logo
        routerLink="/"
        (click)="showSearch = false; showMenu = false"
      ></app-logo>
    </div>

    <button
      class="m-tabs__button"
      [ngClass]="{ '-active': showMenu }"
      type="button"
      aria-label="Abrir menu"
      (click)="showMenu = !showMenu; showSearch = false"
    >
      <ion-icon name="menu"></ion-icon>
    </button>
  </div>
</div>
