<form class="m-tabs-search">
  <div class="m-tabs-search__control">
    <input (keyup)="get($event)" type="text" placeholder="Faça sua busca" />
    <button type="button" class="m-tabs-search__help">
      <ion-icon name="help-circle-outline"></ion-icon>
    </button>
  </div>
  <ul class="m-tabs-search__autocomplete">
    <li *ngFor="let item of autocompleteList?.albums?.data">
      <a [routerLink]="'/album/' + (item.attributes.title | slugify)">
        Álbuns / {{ item.attributes.title }}
      </a>
    </li>
    <li *ngFor="let item of autocompleteList?.genres?.data">
      Gêneros / {{ item.attributes.title }}
    </li>
    <li *ngFor="let item of autocompleteList?.countries?.data">
      País / {{ item.attributes.title }}
    </li>
    <li *ngFor="let item of autocompleteList?.released?.data">
      Ano / {{ item.attributes.title }}
    </li>
  </ul>
</form>
