<form class="m-tabs-search">
  <div class="m-tabs-search__control">
    <input (keyup)="get($event)" type="text" placeholder="Faça sua busca" />
    <button type="button" class="m-tabs-search__help">
      <ion-icon name="help-circle-outline"></ion-icon>
    </button>
  </div>
  <ul class="m-tabs-search__autocomplete">
    <li *ngFor="let item of autocompleteList.albums">
      Álbuns / {{ item.attributes.title }}
    </li>
    <li *ngFor="let item of autocompleteList.genres">
      Gêneros / {{ item.attributes.title }}
    </li>
  </ul>
</form>
