.card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s background-color ease, 0.2s box-shadow ease;

  &:hover {
    background-color: var(--color-primary-shade);
    box-shadow: 0 0 0 4px var(--color-primary-shade);
  }

  &-image {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 8px;
  }

  &-infos {
    &__title,
    &__subtitle {
      margin: 0;
      line-height: 120%;
    }

    &__title {
      font-size: 16px;
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 400;
      opacity: 0.5;
    }
  }
}
