@import "src/scss/base/imports";

:host ::ng-deep {
  i {
    margin-right: rem(8px);
  }
}

.button {
  @extend .reset-button;
  display: flex;
  align-items: center;
  padding: rem(8px) rem(16px);
  border-radius: rem(8px);
  transition: 0.4s all ease;
  font-size: rem(16px);
  font-weight: 600;
  line-height: 1;
  color: $white;
  background-color: $color-primary-shade;

  @media (min-width: $tablet) {
    font-size: rem(18px);
  }

  @media (min-width: $desktop) {
    font-size: rem(20px);
  }

  &:hover {
    background-color: $color-primary;
    box-shadow: 0 rem(4px) rem(8px) rgba($black, 0.1);
    transform: translateY(-2px);
  }
}
