@import "src/scss/base/imports";

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.sidebar-menu {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  &.is-loading {
    .sidebar-menu__item:not(.filled) {
      opacity: 0.5;
      pointer-events: none;

      i {
        animation: rotate infinite linear 1s;
      }
    }
  }

  &__item {
    @extend .reset-button;
    width: 100%;
    height: rem(48px);
    font-size: rem(20px);
    color: #fff;
    transition: 0.2s all ease;

    @media (min-width: $tablet) {
      height: rem(64px);
      font-size: rem(24px);
    }

    &:hover,
    &.active {
      background-color: $color-primary-shade;
    }

    &.filled {
      background-color: darken($color-primary-shade, 5%);
    }
  }
}
