<ul class="sidebar-menu" [ngClass]="{ 'is-loading': albums.loading }">
  <li>
    <button
      (click)="openSearch()"
      class="sidebar-menu__item filled"
      aria-title="Campo de busca"
      title="Campo de busca"
    >
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button
      (click)="open(this.modals.albums)"
      class="sidebar-menu__item"
      aria-title="Álbuns de A a Z"
      title="Álbuns de A a Z"
    >
      <i
        class="fas"
        [ngClass]="albums.loading ? 'fa-circle-notch' : 'fa-compact-disc'"
        aria-hidden="true"
      ></i>
    </button>
  </li>
  <li>
    <button
      (click)="open(this.modals.countries)"
      class="sidebar-menu__item"
      aria-title="Bandas por países"
      title="Bandas por países"
    >
      <i
        class="fas"
        [ngClass]="albums.loading ? 'fa-circle-notch' : 'fa-globe'"
        aria-hidden="true"
      ></i>
    </button>
  </li>
  <li>
    <button
      (click)="open(this.modals.years)"
      class="sidebar-menu__item"
      aria-title="Ano de lançamento"
      title="Ano de lançamento"
    >
      <i
        class="fas"
        [ngClass]="albums.loading ? 'fa-circle-notch' : 'fa-calendar-check'"
        aria-hidden="true"
      ></i>
    </button>
  </li>
  <li>
    <button
      (click)="openGenres()"
      class="sidebar-menu__item"
      aria-title="Gêneros"
      title="Gêneros"
    >
      <i
        class="fas"
        [ngClass]="albums.loading ? 'fa-circle-notch' : 'fa-book'"
        aria-hidden="true"
      ></i>
    </button>
  </li>
</ul>
