<ul class="sidebar-menu">
  <li>
    <button
      (click)="open(this.modals.albums)"
      class="sidebar-menu__item"
      data-sidebar="albums"
      aria-title="Álbuns de A a Z"
      title="Álbuns de A a Z"
    >
      <i class="fas fa-compact-disc" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button
      (click)="open(this.modals.countries)"
      class="sidebar-menu__item"
      data-sidebar="countries"
      aria-title="Bandas por países"
      title="Bandas por países"
    >
      <i class="fas fa-globe" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button
      (click)="open(this.modals.years)"
      class="sidebar-menu__item"
      data-sidebar="year"
      aria-title="Ano de lançamento"
      title="Ano de lançamento"
    >
      <i class="fas fa-calendar-check" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button
      (click)="open(this.modals.genres)"
      class="sidebar-menu__item"
      data-sidebar="genres"
      aria-title="Gêneros"
      title="Gêneros"
    >
      <i class="fas fa-book" aria-hidden="true"></i>
    </button>
  </li>
</ul>
